body {
    -webkit-touch-callout: none;/* -webkit-*/
    text-size-adjust: none;
    user-select: none;
    background-image: url("../images/fon.jpg");
    font-family: 'RobotoRegular', 'Droid Sans', 'Segoe UI', Segoe, 'San Francisco', 'Helvetica Neue', Helvetica, Arial, Geneva, sans-serif;
    font-size: 12px;
}

.play {
    vertical-align: middle;
    height: 60px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20pt;
    font-family: Mistral;
    vertical-align: central;
    font-weight: 700;
    background-color: #801818;
    border-radius: 10px;
}

.picture {
    height: 62px;
    width: 62px;
    border-radius: 10px;
}
form[name=selectForm] {
    color: white;
    font-weight: 700;
    font-family: Mistral;
    text-align: center;
    font-size: 20pt;
    align-content: center;
}


.selectTitle {
    font-weight: 700;
    font-family: 'Comic Sans MS';
    color: white;
    text-align: center;
    font-style: oblique;
    font-size: 25pt;
}

.app {
    background: url(../images/cordova.png) no-repeat center top;
    background-size: contain;
    position: absolute;
    left: 50%;
    top: 50%;
    height: 30px;
    width: 250px;
    text-align: center;
    padding: 200px 0px 0px 0px;
    margin: -125px;
}

.event {
    border-radius: 4px;
    border-radius: 4px;
    color: #FFFFFF;
    margin: 27px;
    padding: 4px 0px;
    text-transform: uppercase;
    background-color: #696969;
    animation: fade 3000ms infinite;
    animation: fade 3000ms infinite;
}

.ready {
    background-color: #4B946A;
}

@keyframes fade {
    from {
        opacity: 1.0;
    }

    50% {
        opacity: 0.4;
    }

    to {
        opacity: 1.0;
    }
}

@-webkit-keyframes fade {
    from {
        opacity: 1.0;
    }

    50% {
        opacity: 0.4;
    }

    to {
        opacity: 1.0;
    }
}
